<template>
  <div>
    <div class="wraper">
      <div class="item_1"><p class="last">Последние отзывы</p>
        <p>
          <a href="#" @click.prevent="showAllComments">
            <div v-if="!all">Все отзывы</div>
            <div v-else>Скрыть</div>
          </a>
        </p>
      </div>
      <div class="item_2">
        <img src="../../src/assets/heart.png" alt="img">
        <span>131</span>
        <img src="../../src/assets/comm.png" alt="img">
        <span>{{ allComments.length }}</span>
      </div>
    </div>
    <div class="comments__wrap" v-if="!all">
      <div class="comments" v-for="comment in comments" :key="comment.id">
        <div class="comments_item">
          <div class="name__data">
            <p class="comment__name">{{ comment.name }}</p>
            <p class="comment__data">{{ comment.date }}</p>
          </div>
          <div class="comment">
            {{ comment.text }}
          </div>
        </div>  
      </div> 
    </div>   
    <div class="comments__wrap" v-if="all">
      <div class="comments" v-for="comment in allComments" :key="comment.id">
        <div class="comments__item">
          <div class="name__data">
            <p class="comment__name">{{ comment.name }}</p>
            <p class="comment__data">{{ comment.date }}</p>
          </div>
          <div class="comment">
            {{ comment.text }}
          </div>
        </div>  
      </div> 
    </div>   
  </div>  
</template>

<script>
export default {
  data() {
    return {
      all: false
    }
  },

  methods: {
    showAllComments() {
      this.all = !this.all
    }
  },
  computed: {
    comments() {
     return this.allComments.slice(-3)
    },
    allComments() {
     return this.$store.getters.ALL_COMMENTS
    }
  }
}
</script>

<style lang="scss" scoped>
.wraper {
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.item_1 {
  display: flex;
  justify-content: space-between;
}

.last {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.item_2 {
  padding: 16px 0;

  img {
    margin-right: .5rem;
  }

  span {
    margin-right: 1rem;
  }
}

.item_1 a {
  color: #44B5D7;
}

.comment {
  display: inline-block;
  position: relative;
  background-color: #EFFBFf;
  width: calc(100% - 24px);
  margin: 20px auto;
  padding: 32px 10px;
  }

.comment::after {
  content: '';
  position: absolute;
  left: 3%; bottom: 76%;
  border: 20px solid transparent;
  border-left: 20px solid #EFFBFF;
}

.name__data {
  display: flex;
  justify-content: flex-start;
}

.comment__name {
  font-weight: bold;
}

.comment__data {
  margin-left: 15px;
  color: #818181;
  font-size: 12px;
  padding-top: 7px;
}

.comment__text {
  background-color: #F2F2F2;
}
</style>