<template>
  <div class="form">
      <textarea class="form__text" cols="88" rows="5" @keyup.ctrl.enter="addComment" v-model="comment.text"></textarea>
      <button class="form__btn" @click="addComment">
        Написать консультанту
      </button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      comment: {
        name: '',
        text: '',
        date: ''
      }
    }  
  },

  methods: {
    clear() {
      this.comment.text = ''
    },

    addComment() {
      let commentSpace = this.comment.text.replace(/^\s+|\s+$/g, '')
      if(commentSpace != '') {
        let date = new Date().toLocaleDateString().split('.')
        switch (date[1]) {
          case '01':
            date[1] = 'января'
            break;
          case '02':
            date[1] = 'февраля'
            break;
          case '03':
            date[1] = 'марта'
            break;
          case '04':
            date[1] = 'апреля'
            break;
          case '05':
            date[1] = 'мая'
            break;
          case '06':
            date[1] = 'июня'
            break;
          case '07':
            date[1] = 'июля'
            break;
          case '08':
            date[1] = 'августа'
            break;
          case '09':
            date[1] = 'сентября'
            break;
          case '10':
            date[1] = 'октября'
            break;
          case '11':
            date[1] = 'ноября'
            break;
          case '12':
            date[1] = 'декабря'
            break;        
          default:
            break;
        }

        if(this.comment.name === '') {
          this.comment.name = 'Гость'
        }

        let comment = {
          name: this.comment.name,
          text: this.comment.text,
          date: date.join(' ')
        }
        this.$store.commit('SET_COMMENT', comment)
        this.clear()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .form {
    background-color: #F2F2F2;
    text-align: center;

    textarea {
      width: calc(100% - 60px);
      padding: 10px;
      margin: 30px auto;
      display: inline;
      border-radius: 3px;
    }

    &__btn {
    background-color: #FFD719;
    border: none;
    width: 50%;
    margin-bottom: 30px;
    border-radius: 40px;
    outline: none;
    font-size: 100%;
    font-weight: bold;
    padding:  20px 0;      

    &:hover {
      cursor: pointer;
    }
    }
  }
</style>