<template>
  <header class="header">
    <div class="header__logo"><img src="../../src/assets/avatar.jpg" alt="avatar"></div>
    <h1>{{ userData.name }}<br><span>{{ userData.position }}</span></h1>
    <p class="header__text" v-html="userData.text"></p>
  </header>
</template>

<script>
export default {
  data() {
    return {
      userData: {
        name: 'Вероника Ростова',
        position: 'Менеджер по продажам',
        text: 'Подберу для вас самые лучшие предложения. <br> Мои услуги абсолютно бесплатны'
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  position: relative;
  padding-right: 10px;

  &__logo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;

    img {
      width: 100%;
    }
  }

  &__text {
    padding: 20px 0 20px 125px;
    background-color: #fffbc8;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 30px;
    line-height: 1.2;
    font-size: 1.4rem;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    padding-left: 155px;
    line-height: 1.2;

    span {
      color: #a8a8a8;
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}
</style>