<template>
  <div class="services">
    <p class="services services__title">Услуг</p>
    <div class="wrap">
      <div class="statistics">
        <div class="statistics__item"><p class="indicator">Ручное бронирование</p><p class="number">11</p></div>
        <div class="statistics__item"><p class="indicator">Пакетные туры</p> <p class="number">3</p></div>
        <div class="statistics__item"><p class="indicator">Отели</p> <p class="number">1</p></div>
      </div>
    </div>

    <div class="wrap">
      <div class="amount">
        <p class="services">Всего</p>
        <p class="number">15</p>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.statistics {
  width: 570px;
  border-bottom: 1px solid #a8a8a8;
  border-top: 1px solid #a8a8a8;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-of-type(1) .indicator {
      width: 250px;
      background-color: #9ae298;
      border-left: 2px solid #6ab369;
      text-align: left;
    }

    &:nth-of-type(2) .indicator {
      width: 55px;
      background-color: #91e3f9;
      border-left: 2px solid #5eb5cc;
      white-space: nowrap;
    }

    &:nth-of-type(3) .indicator {
      width: 35px;
      background-color: #91e3f9;
      border-left: 2px solid #5eb5cc;
    }
  }
}

.services {
  text-align: right;
  margin-right: 15px;

  &__title {
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
  }
}

.wrap {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}

.indicator {
  padding: 5px 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.number {
  margin-right: 25px;
}

.amount {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  line-height: 26px;
}
</style>