<template>
  <div id="app">
    <div class="main-wrapper">
      <app-header/>
      <app-services/>
      <app-comments/>
      <app-form/>
    </div>
  </div>
</template>

<script>
import AppHeader from './components/header.vue'
import AppServices from './components/services.vue'
import AppComments from './components/comments.vue'
import AppForm from './components/form.vue'

export default {
  name: 'app',
  components: {
    AppHeader,
    AppServices,
    AppComments,
    AppForm
  }
}
</script>

<style lang="scss">

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

#app {
  font-family:  Arial, sans-serif;
}

.main-wrapper {
  max-width: 720px;
  min-width: 250px;
  color: #333;
  margin: 0 auto;
  padding: 0 5%;
}

@media screen and (max-width:480px) {
  body {
    font-size: 1.2rem;
  }

  .btn {
    width: 80%;
  }

  .header__logo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 25px;
  }
}
</style>
